<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateur">
            <h2><span>Utilisateur</span> {{utilisateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>I Duser</span></dt>
                <dd>
                    <span>{{utilisateur.iDuser}}</span>
                </dd>
                <dt><span>Utilisateur</span></dt>
                <dd>
                    <div *ngIf="utilisateur.utilisateur">
                        <a [routerLink]="['/utilisateur', utilisateur.utilisateur?.id, 'view']">{{utilisateur.utilisateur?.id}}</a>
                    </div>
                </dd>
                <dt><span>Role</span></dt>
                <dd>
                    <span *ngFor="let role of utilisateur.roles; let last = last">
                        <a [routerLink]="['/role', role?.id, 'view' ]">{{role.iDRole}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
