<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span>Notification</span> {{notification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>I D Notif</span></dt>
                <dd>
                    <span>{{notification.iDNotif}}</span>
                </dd>
                <dt><span>Utilisateur</span></dt>
                <dd>
                    <div *ngIf="notification.utilisateur">
                        <a [routerLink]="['/utilisateur', notification.utilisateur?.id, 'view']">{{notification.utilisateur?.id}}</a>
                    </div>
                </dd>
                <dt><span>Reservation</span></dt>
                <dd>
                    <div *ngIf="notification.reservation">
                        <a [routerLink]="['/reservation', notification.reservation?.id, 'view']">{{notification.reservation?.id}}</a>
                    </div>
                </dd>
                <dt><span>Type De Notification</span></dt>
                <dd>
                    <div *ngIf="notification.typeDeNotification">
                        <a [routerLink]="['/type-de-notification', notification.typeDeNotification?.id, 'view']">{{notification.typeDeNotification?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
