<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="centreDeFormation">
            <h2><span>Centre De Formation</span> {{centreDeFormation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>I D Centre</span></dt>
                <dd>
                    <span>{{centreDeFormation.iDCentre}}</span>
                </dd>
                <dt><span>Nom Centre</span></dt>
                <dd>
                    <span>{{centreDeFormation.nomCentre}}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{centreDeFormation.adresse}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/centre-de-formation', centreDeFormation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
