<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formation">
            <h2><span>Formation</span> {{formation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>I D Formation</span></dt>
                <dd>
                    <span>{{formation.iDFormation}}</span>
                </dd>
                <dt><span>Nom Formation</span></dt>
                <dd>
                    <span>{{formation.nomFormation}}</span>
                </dd>
                <dt><span>Information</span></dt>
                <dd>
                    <span>{{formation.information}}</span>
                </dd>
                <dt><span>Centre De Formation</span></dt>
                <dd>
                    <div *ngIf="formation.centreDeFormation">
                        <a [routerLink]="['/centre-de-formation', formation.centreDeFormation?.id, 'view']">{{formation.centreDeFormation?.id}}</a>
                    </div>
                </dd>
                <dt><span>Categorie Formation</span></dt>
                <dd>
                    <div *ngIf="formation.categorieFormation">
                        <a [routerLink]="['/categorie-formation', formation.categorieFormation?.id, 'view']">{{formation.categorieFormation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/formation', formation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
