<div>
    <h2 id="page-heading">
        <span>Formations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-formation" [routerLink]="['/formation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Formation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="formations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>I D Formation</span></th>
            <th><span>Nom Formation</span></th>
            <th><span>Information</span></th>
            <th><span>Centre De Formation</span></th>
            <th><span>Categorie Formation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formation of formations ;trackBy: trackId">
                <td><a [routerLink]="['/formation', formation.id, 'view' ]">{{formation.id}}</a></td>
                <td>{{formation.iDFormation}}</td>
                <td>{{formation.nomFormation}}</td>
                <td>{{formation.information}}</td>
                <td>
                    <div *ngIf="formation.centreDeFormation">
                        <a [routerLink]="['../centre-de-formation', formation.centreDeFormation?.id, 'view' ]" >{{formation.centreDeFormation?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="formation.categorieFormation">
                        <a [routerLink]="['../categorie-formation', formation.categorieFormation?.id, 'view' ]" >{{formation.categorieFormation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/formation', formation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/formation', formation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formation/'+ formation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
