<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="autresInformations">
            <h2><span>Autres Informations</span> {{autresInformations.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>I D Info</span></dt>
                <dd>
                    <span>{{autresInformations.iDInfo}}</span>
                </dd>
                <dt><span>Nom Info</span></dt>
                <dd>
                    <span>{{autresInformations.nomInfo}}</span>
                </dd>
                <dt><span>Contenu Info</span></dt>
                <dd>
                    <span>{{autresInformations.contenuInfo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/autres-informations', autresInformations.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
