<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span>Reservation</span> {{reservation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Utilisateur</span></dt>
                <dd>
                    <div *ngIf="reservation.utilisateur">
                        <a [routerLink]="['/utilisateur', reservation.utilisateur?.id, 'view']">{{reservation.utilisateur?.id}}</a>
                    </div>
                </dd>
                <dt><span>Formation</span></dt>
                <dd>
                    <div *ngIf="reservation.formation">
                        <a [routerLink]="['/formation', reservation.formation?.id, 'view']">{{reservation.formation?.id}}</a>
                    </div>
                </dd>
                <dt><span>Question</span></dt>
                <dd>
                    <span *ngFor="let question of reservation.questions; let last = last">
                        <a [routerLink]="['/question', question?.id, 'view' ]">{{question.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation', reservation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
