<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formulaire">
            <h2><span>Formulaire</span> {{formulaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>I D Formulaire</span></dt>
                <dd>
                    <span>{{formulaire.iDFormulaire}}</span>
                </dd>
                <dt><span>Utilisateur</span></dt>
                <dd>
                    <div *ngIf="formulaire.utilisateur">
                        <a [routerLink]="['/utilisateur', formulaire.utilisateur?.id, 'view']">{{formulaire.utilisateur?.id}}</a>
                    </div>
                </dd>
                <dt><span>Formation</span></dt>
                <dd>
                    <div *ngIf="formulaire.formation">
                        <a [routerLink]="['/formation', formulaire.formation?.id, 'view']">{{formulaire.formation?.id}}</a>
                    </div>
                </dd>
                <dt><span>Question</span></dt>
                <dd>
                    <span *ngFor="let question of formulaire.questions; let last = last">
                        <a [routerLink]="['/question', question?.id, 'view' ]">{{question.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/formulaire', formulaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
