<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-formulaire-heading">Create or edit a Formulaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!formulaire.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="formulaire.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_iDFormulaire">I D Formulaire</label>
                    <input type="number" class="form-control" name="iDFormulaire" id="field_iDFormulaire"
                        [(ngModel)]="formulaire.iDFormulaire" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_utilisateur">Utilisateur</label>
                    <select class="form-control" id="field_utilisateur" name="utilisateur" [(ngModel)]="formulaire.utilisateur" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="utilisateurOption.id === formulaire.utilisateur?.id ? formulaire.utilisateur : utilisateurOption" *ngFor="let utilisateurOption of utilisateurs; trackBy: trackUtilisateurById">{{utilisateurOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_formation">Formation</label>
                    <select class="form-control" id="field_formation" name="formation" [(ngModel)]="formulaire.formation" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="formationOption.id === formulaire.formation?.id ? formulaire.formation : formationOption" *ngFor="let formationOption of formations; trackBy: trackFormationById">{{formationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_question">Question</label>
                    <select class="form-control" id="field_question" multiple name="question" [(ngModel)]="formulaire.questions">
                        <option [ngValue]="getSelected(formulaire.questions, questionOption)" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
