<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorieFormation">
            <h2><span>Categorie Formation</span> {{categorieFormation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>I D Categorie</span></dt>
                <dd>
                    <span>{{categorieFormation.iDCategorie}}</span>
                </dd>
                <dt><span>Nom Categorie</span></dt>
                <dd>
                    <span>{{categorieFormation.nomCategorie}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie-formation', categorieFormation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
